{% extends "blog/base.html" %} 


{% block content %}


<h1>About page</h1>
<p> This is the about page.
The homepage needs to include fight card information as main content.
News/tweets come up as widget on left-hand side.
Most recent poll and blog post show up on right-hand side. </p>

<h2> Next Steps </h2>
<p> 1. Include poll and blog content on homepage (right of main content). &check;</p>
<p> 2. Produce a bar chart for poll votes based on percentages. </p>
<p> 3. Inlcude selceted tweets/articles on left hand side home page. </p>
<p> 4. Include fight card information on main content (via web scraping). </p>
<p> 5. Improve design and layout of the entire site. </p>


{%endblock content%}