{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-10 float-right ">
<div class="card my-9">
        <h5 class="card-header">Blogs</h5>
    <div class="card-body">
        <a href="blog/intro-2" class="card-link">Intro 2</a><br><br>
        <a href="blog/introduction" class="card-link">Introduction..</a><br><br>
        <a href="blog/"
           class="btn btn-dark">See more!</a>
    </div>
</div>
</div>

<!-- Needs to be cleverer: The two most recent posts update automatically to redirect user to the appropriate blog -->


{% endblock sidebar %}