
{% extends "blog/base.html" %} 

{% block content %}


<!-- Section that imports static css files -->
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">


<!-- HTML script -->
<body>
	{% if latest_question_list %}
    	<ul>
    	{% for question in latest_question_list %}
        <li id="item1"><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    	{% endfor %}
    	</ul>
	{% else %}
    	<p>No polls are available.</p>
	{% endif %}
</body>


{% endblock content %}